{% extends "tutorial/layout.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Email Sender</h1>
        <p>This program sends emails to students. Please run file_parser.py as a stand-alone script to sanity check
        the emails before hitting the Send Emails button.</p>
        <p>app id: {{ app_id }}</p>
        <p>{{ redirect_uri }}</p>
        <p>
            <a class="btn btn-lg btn-primary" href="{{ signin_url }}" role="button" id="connect-button">Send Emails</a>
        </p>
    </div>
{% endblock %}